@model BeautyStore.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "تسجيل جديد - مركز التجميل";
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>تسجيل جديد - مركز التجميل</title>
    <link rel="stylesheet" href="~/css/Register.css" />
    
  </head>
  <body>
    <!-- Header Section -->
    <!-- Header Section -->
    <header>
      <!-- الروابط على الشمال -->
     

      <!-- اللوجو على اليمين -->
      <div class="logo">Beauty Center</div>
    </header>

<section class="auth-form">
    <h2>تسجيل جديد</h2>
    <form asp-action="Register" method="post">
        <label asp-for="FirstName">:الاسم الاول</label>
        <input asp-for="FirstName" type="text" id="FirstName" name="FirstName" required />

          <label asp-for="LastName">:اسم العائلة</label>
        <input asp-for="LastName" type="text" id="LastName" name="LastName" required />

        <label asp-for="Email">:البريد الإلكتروني</label>
        <input asp-for="Email"type="email" id="email" name="email" required />

        <label asp-for="PhoneNumber">:رقم الهاتف</label>
        <input asp-for="PhoneNumber "type="tel" id="phone" name="phone"  />

         <label asp-for="Address">:العنوان</label>
        <input asp-for="Address"type="tel" id="address" name="address"  />

        <label asp-for="password">:كلمة المرور</label>
        <input asp-for="password"type="password" id="password" name="password" required />

        <label asp-for="ConfirmPassword">:تأكيد كلمة المرور</label>
        <input asp-for="ConfirmPassword" type="password" id="ConfirmPassword" name="ConfirmPassword" required />

       

        <button type="submit">تسجيل</button>
    </form>
    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
{
    <div style="color:red; margin-top:5px;">@error.ErrorMessage</div>
}
</section>


</body>
</html>